.display table {
	background-color:#BCB9C9 ; 
	border-collapse: collapse;
}

.display th {
	background-color: #8F7CF2;
	border: 1px solid #EDCAFA;
}

.display td {
	border: 1px solid #EDCAFA;
}

.displayGrid table {
	background-color:#EEEEEE ; 
	padding: 5px;
}

.displayGridMain {
	/* background-color:#EEEEEE ; */ 
	padding: 5px;
	display: block;
	float: left;
	margin: 1px;
	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.displayGridSubheading {
	display: block;
	float: left;
	font-weight: bold;
	font-size: larger;
	border-width: 2px;
	border-color: gray;
	border-style: solid;
	margin-bottom: 5px;
	margin-right: 2px;
	background-color: #F0F0F0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	
	
}

.displayGridSubHeader {
	padding-left: 10px;
}

.displayGridCellWrapper {
	display: block;
	float: left; 
}

.displayGridCell {
	height: 50px;
	width:150px; 
	text-align: center;
	vertical-align: middle;
	display: block;
	padding-top: 10px;
	margin: 5px;
	float: left; 
	font-weight: normal;
	font-size: medium;
	border-style: solid;
	border-width: 2px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

}


.displayGridCell:hover  {
	box-shadow: 2px 2px 5px;
}

.displayGridSep {
	height: 5px;
	width: 5px;
	display: block;
	float: left;
	
}
.isgreen {
	background-color: #70E23B;
		border-color: #306430;
}

.isred {
	background-color: #FF0000;
		border-color: #800000;
}

.isgrey {
	background-color: #BBBBBB;
		border-color: #999999;
}

.isyellow {
	background-color: #FFFF66;
		border-color: #CCCC52;
}

