.display table {
	background-color:#BCB9C9 ; 
	border-collapse: collapse;
}

.display th {
	background-color: #8F7CF2;
	border: 1px solid #EDCAFA;
}

.display td {
	border: 1px solid #EDCAFA;
}

.displayGrid table {
	background-color:#EEEEEE ; 
	padding: 5px;
}

.displayGridMain {
	background-color:#EEEEEE ; 
	padding: 5px;
	display: block;
	float: left;
}

.displayGridSubheading {
/*	background-color:#EEEEEE ; 
	padding: 5px; */
	display: block;
	float: left;
	font-weight: bold;
	font-size: larger;
}

.displayGridCell {
	height: 50px;
	width:150px; 
	text-align: center;
	vertical-align: middle;
	display: block;
	padding-top: 10px;
	margin: 5px;
	float: left; 
	font-weight: normal;
	font-size: medium;

}

.displayGridSep {
	height: 5px;
	width: 5px;
	display: block;
	float: left;
	
}
.isgreen {
	background-color: #00FF33;
}

.isred {
	background-color: #FF0000;
}

.isgrey {
	background-color: #BBBBBB;
}
